tdumt-gui/xml/schemas/Colors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="colors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="color">
          <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required" />
            <xs:attribute name="label" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>