tdumt-gui/xml/schemas/VehicleSlots.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vehicleSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="vehicle">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="ref" type="xs:unsignedInt" use="required" />
            <xs:attribute name="camera" type="xs:unsignedShort" use="required" />
            <xs:attribute name="ik" type="xs:unsignedShort" use="required" />
            <xs:attribute name="topSpeed" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="addon" type="xs:boolean" use="optional" />
            <xs:attribute name="moddable" type="xs:boolean" use="optional" />
            <xs:attribute name="newCamera" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="bike" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>